.topnav {
  overflow: hidden;
  position: fixed;
  padding: 20px 20px;
  top: 0;
  background-color: #cda368;
  width: 100%;
}
.topnav a {
  color: white;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  font-size: 17px;
  font-family: Trebuchet MS, sans-serif;
}
.topnav a:hover {
  background-color: #7d7650;
  color: #acacac;
}
.topnav .active {
  color: #4f3d25;
}
