html, body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
}


div .root {
  min-height: "100vh";
}

h1 {
  margin: 0;
  padding-top: 1%;
  padding-bottom: 1%;
  font-size: 400%;
}

h2 {
  text-align: center; 
  display: flex;
  justify-content: center; 
  align-items: center;
  border-bottom: 3px solid #000;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

div .App {
  text-align: center;
  background-color: #4872b6;
  height: 100%;
  width: 100%;

  min-height: 100vh;
}

.item-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
  justify-content: center;
  margin-left: 16%;
  margin-right: 16%;
}

.item-box {
  width: 30%;
  margin-bottom: 20px;
}

.item-box h2 {
  font-size: 18px;
  margin: 0;
}

h3 {
  margin: 0;
}

.item-box p {
  margin: 5px 0;
}
